### Data Frame 살펴보기
- Dict 데이터로 저장

In [1]:
# 모듈로딩
import pandas as pd

In [4]:
# 데이터 준비
jumsu={'국어':[89,91], '수학':[88,90], '음악':[100,98]}

In [5]:
# DF으로 데이터 저장
df1=pd.DataFrame(jumsu)

In [6]:
# DF 로 저장된 데이터 확인
print(df1)
# dict에서는 키 값이 열로 나옴.

   국어  수학   음악
0  89  88  100
1  91  90   98

- [속성으로 행인덱스 변경] : 변수명.index=새로운 인덱스

In [7]:
# 0,1 현재 인덱스 ---> '마징가', '홍길동' 바꾸기
df1.index=['마징가', '홍길동']

In [8]:
df1

     국어  수학   음악
마징가  89  88  100
홍길동  91  90   98

In [9]:
# 컬럼 인덱스 --> '국어', '미술','과학'
df1.columns=['국어', '미술', '과학'] # 일부를 바꾸더라도 요소들 값을 다 적어줘야함.

In [10]:
df1

     국어  미술   과학
마징가  89  88  100
홍길동  91  90   98

In [11]:
# 값/데이터 변경은 속성으로는 불가~~
# 현재 데이터 값을 저장하고 있는 속성 불러오기 ---> values
# df1.values=[[89,78,100],[91,90,98]]

:

In [ ]:
# 형태 변경은 속성으로 불가~~
# df1.shape=(3,2)