### DataFrame 에서 원소/요소 읽기!
- 행 읽기 / 열 읽기
- 행과 열이 교차하는 지점의 원소/요소 읽기

In [1]:
# 모듈 로딩
import pandas as pd

In [3]:
# 데이터 준비
jumsu=[[98,99,100], [67, 81, 80]]

In [5]:
# 2D 데이터를 DataFrame으로 저장
df1=pd.DataFrame(jumsu)
df1

    0   1    2
0  98  99  100
1  67  81   80

In [6]:
# 행 index 와 열 index를 속성으로 지정
# 행인덱스 김경태, 안효준
# 열인덱스 음악 영어 무용
df1.index=['김경태','안효준']
df1.columns=['음악', '영어', '무용']
df1

     음악  영어   무용
김경태  98  99  100
안효준  67  81   80

- [열/컬럼 선택] : 변수명[컬럼명/컬럼인덱스]

In [10]:
# 영어 과목점수만 추출하고싶다.
print(df1['영어'])
print(type(df1['영어']))

김경태    99
안효준    81
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
# 무용 과목 점수만 추출
df1.무용 # 대괄호 없이 한개일때만 .컬럼명 적어도 됨

김경태    100
안효준     80
Name: 무용, dtype: int64

In [21]:
# 음악, 무용 컬럼 추출
df1[['음악','무용']]
# df1['음악':'무용':1] # 슬라이싱 쓰게되면 행까지 지정해야됨. 값을 가져 올 수 없음

     음악   무용
김경태  98  100
안효준  67   80

In [24]:
# df1[0] #행일때 안됨
print(df1.columns, df1.columns[1:], df1.columns[::2], sep='\n')

df1[df1.columns[::2]]

Index(['음악', '영어', '무용'], dtype='object')
Index(['영어', '무용'], dtype='object')
Index(['음악', '무용'], dtype='object')

     음악   무용
김경태  98  100
안효준  67   80

- [행/로우 선택] : 변수명.iloc[행인덱스], 변수명.iloc(행인덱스)

In [14]:
# 변수명.iloc[0] 정수형 인덱스
# 변수명.loc[행인덱스] 글자로된 인덱스
df1.iloc[0]
df1.loc['김경태']

음악     98
영어     99
무용    100
Name: 김경태, dtype: int64

In [17]:
df1.loc['안효준']

음악    67
영어    81
무용    80
Name: 안효준, dtype: int64

In [26]:
df1.loc[['안효준','김경태']]

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

In [28]:
print(df1.index, df1.index[1:], df1.index[:], df1.index[::-1], sep='\n')

df1.loc[df1.index[::-1]] # 수정이나 보완을 생각한다면 속성사용 권장!

Index(['김경태', '안효준'], dtype='object')
Index(['안효준'], dtype='object')
Index(['김경태', '안효준'], dtype='object')
Index(['안효준', '김경태'], dtype='object')

     음악  영어   무용
안효준  67  81   80
김경태  98  99  100

- [원소/요소 겹치는 부분 추출] : 변수명.iloc[정수인덱스][열인덱스] / 변수명.loc[행인덱스][열인덱스]

In [32]:
# 김경태님의 영어 점수만 추출하겠어
# df1['김경태']['영어'] 키에러 발생!!!
df1.loc['김경태']['영어'], df1.iloc[0]['영어']

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_16044\417741515.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df1.loc['김경태']['영어'], df1.iloc[0]['영어'], df1.iloc[0][1]

(99, 99, 99)

- [원소/요소 겹치는 부분 추출]
    * 변수명.iloc[정수인덱스,열인덱스] / 변수명.loc[행인덱스,열인덱스]

In [33]:
# 김경태님의 점수만 추출
df1.iloc[0,1] # 개편한데? iloc[정수index, 정수index]만 가능

99

In [34]:
df1.loc['김경태','영어'] # 개편한데? 2편

99

In [43]:
# 경태님의 영어 무용점수 추출
df1.iloc[0,1],df1.iloc[0,2]
df1.loc['김경태',['영어','무용']]
df1.loc['김경태', '영어':'무용']

영어     99
무용    100
Name: 김경태, dtype: int64

In [45]:
df1.loc[:,'음악']

김경태    98
안효준    67
Name: 음악, dtype: int64

: