In [136]:
import pandas as pd

In [137]:
# 시리즈 생성series = pd.series(data, index=index)
# 인자 
# data -> 파이썬 idct, ndarray, 스칼라 값
# index -> 라벨 리스트

In [138]:
#k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a':1, 'b':2, 'c':3}

In [139]:
# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장
sr=pd.Series(dict_data)

In [140]:
# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

<class 'pandas.core.series.Series'>

## 시리즈
- 클래스 속성 활용 / 값 출력
- 인덱스 RengeIndex 객체 = Series객체.index
- 데이터값 Series객체.values

## 원소 선택
- Data= Series객체[index]
- Data= Series객체['인덱스이름']

In [141]:
# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019=01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

0    2019=01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [142]:
# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val=sr.values
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2019=01-02' 3.14 'ABC' 100 True]

In [143]:
# Tuple을 시리즈로 변환
tup_data=('정아','2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름','생년월일', '성별', '학생여부'])
print(sr)

이름              정아
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [144]:
print(sr[0])
print(sr['이름'])

정아
정아

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\3589340035.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [145]:
# 여러개의 원소 선택
print(sr[1:2]) # 끝인덱스 미포함
print()
print(sr['생년월일':'성별']) # 끝인덱스 포함

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

## 데이터프레임(DataFrame)
- 행과 열(Series)로 만들어진 2차원 배열 구조
- 통계 패키지 R의 데이터프레임에서 유래
- 여러개의 시리즈(Series) 묶음
- 형식 : 행 인덱스 + 열 벡터

In [146]:
# 열이름을 key, 리스트를 value로 갖는 딕셔너리 정의( 2차원 배열 )
# dict_data = {'a':1, 'b':2, 'c':3}

In [147]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [148]:
# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(dict_data)

In [149]:
# df 의 자료형 출력
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [150]:
df2 = pd.DataFrame( [ [15, '남', '덕영중'], [17, '여', '수리중'] ],
index=['준서', '예은'],
 columns=['나이', '성별', '학교'])

In [151]:
# 행 인덱스, 열 이름 확인하기
df2.index # 행인덱스
df2.columns # 열이름

Index(['나이', '성별', '학교'], dtype='object')

In [152]:
# 행 인덱스. 열 이름 변경하기
df2.index=['학생1', '학생2']
df2.columns=['연령', '남녀', '소속']

In [153]:
print(df2)
print()
print(df2.index)
print()
print(df2.columns)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [154]:
# 열 이름 중, '나이'를 '연령', '성별'을 '남녀', '학교'를 '소속'으로
df3=df2.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})

In [155]:
df3=df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

In [156]:
# df3 출력
print(df3)
print(df2)

None
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [157]:
#DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
exam_data={'수학':[90,80,70], '영어':[98,89,95], '음악':[85,95,100], '체육':[100,90,90]}
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [158]:
# 데이터 프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제하기
df2=df[:]
df2.drop('우현', inplace=True)
print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\3244812244.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace=True)

In [159]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3=df[:]
df3.drop(['우현','인아'], axis=0, inplace=True)
print(df3)

    수학  영어  음악   체육
서준  90  98  85  100

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\1918901674.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['우현','인아'], axis=0, inplace=True)

In [160]:
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
 '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}
df=pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [161]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4=df[:]
df4.drop('수학', axis=1, inplace=True)
print(df4)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\4164253903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop('수학', axis=1, inplace=True)

In [162]:
df5=df[:]
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    수학   체육
서준  90  100
우현  80   90
인아  70   90

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\219155899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.drop(['영어', '음악'], axis=1, inplace=True)

In [163]:
# 행 인덱스를 사용하여 행 1개를 선택하기
label1=df.loc['서준'] # loc 인덱스이름 사용
position1=df.iloc[0] # iloc 인덱서 활용
print(label1)
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [164]:
# 2개 불러오기
label2=df.loc[['서준','우현']]
position2=df.iloc[[0,1]]
print(label2)
print(position2)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [165]:
# 행 인덱스의 범위를 지정하여 행 선택
label3= df.loc['서준':'우현']
position3= df.iloc[0:2]
print(label3)
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

In [166]:
# 수학 점수 데이터만 선택, 변수 math1에 저장
math1=df['수학']
print(math1)
print(type(math1))

서준    90
우현    80
인아    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>

In [167]:
math2=df[['수학']]
print(math2)
print(type(math2))

    수학
서준  90
우현  80
인아  70
<class 'pandas.core.frame.DataFrame'>

In [168]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a=df.loc['서준','음악']
print(a)
b=df.iloc[0,2]
print(b)

85
85

In [169]:
#df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수)
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0,1], [2,3]]
print(h)
i = df.loc['서준':'우현', '음악':'체육']
print(i)
j=df.iloc[0:2, 2:]
print(j)

    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90
    음악   체육
서준  85  100
우현  95   90

In [170]:
# 새로운 행(row)을 추가 - 같은 원소 값을 입력
df.loc[3]=0
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
3    0   0    0    0

In [171]:
# 새로운 행(row)을 추가 - 원소 값 여러 개의 배열을 입력
df.loc['동규']=[90, 80, 70, 60]
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
3    0   0    0    0
동규  90  80   70   60

In [172]:
# 새로운 행(row)을 추가 - 기존 행을 복사
df.loc['행5']=df.loc[3]
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90
3    0   0    0    0
동규  90  80   70   60
행5   0   0    0    0

In [179]:
exam_data = {'이름' : [ '서준', '우현', '인아'],
 '수학' : [ 90, 80, 70],
 '영어' : [ 98, 89, 95],
 '음악' : [ 85, 95, 100],
 '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [182]:
# df.set_index('이름', inplace=True)
# print(df) 이름이란 열을 새로운 인덱스로 지정해야 되는데 안됩니다.

In [183]:
# 데이터프레임 df의 특정 원소를 변경하는 방법 : 서준의 체육점수 3.0에선 안될거래.
df.iloc[0][3] = 80
print(df)

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\4259096849.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df.iloc[0][3] = 80
C:\Users\KDP-26\AppData\Local\Temp\ipykernel_26884\4259096849.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df.iloc[0][3] = 80

In [184]:
# 원소 여러개 변경하기 : 서준의 음악
df.loc['서준',['음악','체육']]=50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

In [185]:
df.loc['서준',['음악','체육']]= 100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

: