## 데이터셋 불러오기

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\KDP-26\Downloads\gapminder-main\gapminder-main\inst\extdata\gapminder.tsv', sep='\t')

In [4]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [5]:
# 내장 함수 type을 사용하여 실행결과 df의 자료형이 무엇인지 확인하기
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
# shape 속성을 사용하여 행과 열의 갯수를 파악할 수 있음.
print(df.shape) # shape는 메서드가 아님! 그래서 이름뒤에 ()를 넣지 않음.

(1704, 6)

In [7]:
# 모든 열 출력하기
print(df.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [8]:
# 데이터와 관련된 다양한 정보를 확인하고 싶으면 info()메서드 사용
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

## 데이터 추출하기

In [9]:
# 메서드 head() 앞 5개 행을 확인
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [10]:
# 문자열로 columns 데이터 추출하기
country_df = df['country']

In [11]:
# country_df에서 head() 사용
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [12]:
# 마지막 5개 행을 출력하기 tail()
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

### 리스트로 열 데이터 추출하기

In [13]:
# 3개의 열데이터를 추출하고 변수에 저장하기
subset=df[['country', 'continent', 'year']]

In [14]:
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [15]:
# 열 데이터를 추출하는 두 가지 방법의 차이점 이해하기
country_df=df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [16]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [18]:
# country 열만 포함하는 요소가 하나인 리스트로 열 데이터 추출하기
country_df_lsit=df[['country']]
print(type(country_df_lsit))
print(country_df_lsit)

<class 'pandas.core.frame.DataFrame'>
          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [19]:
# 점표기법으로 열 데이터 추출하기
print(df['country'])
print(df.country)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object
0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

## 행 데이터 추출하기
- loc 행 이름을 기준으로 행 추출
- 행 index번호를 기준으로 행 추출

In [20]:
# 행 이름으로 데이터 추출하기
print(df.loc[0])

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [21]:
print(df.loc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [22]:
# -1 의 값은 넣을 수 없음.

In [23]:
# 마지막 데이터 추출하기
number_of_rows=df.shape[0]
las_row_index=number_of_rows -1
print(df.loc[las_row_index])

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

In [24]:
# tail() 메서드 사용해서 마지막 행 뽑기
# 행 개수를 의미하는 매개변수 n에 n=1 해주면됨
print(df.tail(n=1))

       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [25]:
# loc는 Series 객체
# tail,head 는 DataFrame 객체

In [26]:
# 리스트를 사용하여 여러개 추출하기
print(df.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [27]:
# 행 index로 행 데이터 출력하기
print(df.iloc[1])

country      Afghanistan
continent           Asia
year                1957
lifeExp           30.332
pop              9240934
gdpPercap      820.85303
Name: 1, dtype: object

In [28]:
print(df.iloc[99])

country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object

In [29]:
print(df.iloc[-1]) # loc 속성에선 -1을 사용 할 수 없지만 iloc 속성에서는 마지막요소로 추출가능

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object

## loc 와 iloc로 데이터 추출하기
- loc와 iloc를 사용하여 특정 행과 열을 선택할 수 있음.
- df.loc[[행], [열]] -> 행과 열의 이름을 입력
- df.iloc[[행], [열]] -> 행과 열의 인덱스 이름을 입력

In [30]:
# 슬라이싱 구문으로 데이터 추출하기
subset= df.loc[:,['year', 'pop']]
print(subset)

      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [31]:
# iloc로 3,5번째 와 마지막 열 데이터 추출하기
subset= df.iloc[:,[2,4,-1]]
print(subset)

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [32]:
# range로 데이터 추출하기
small_range=list(range(5)) # range 반환 값을 지정
print(small_range)

[0, 1, 2, 3, 4]

In [33]:
subset= df.iloc[:, small_range]
print(subset)

          country continent  year  lifeExp       pop
0     Afghanistan      Asia  1952   28.801   8425333
1     Afghanistan      Asia  1957   30.332   9240934
2     Afghanistan      Asia  1962   31.997  10267083
3     Afghanistan      Asia  1967   34.020  11537966
4     Afghanistan      Asia  1972   36.088  13079460
...           ...       ...   ...      ...       ...
1699     Zimbabwe    Africa  1987   62.351   9216418
1700     Zimbabwe    Africa  1992   60.377  10704340
1701     Zimbabwe    Africa  1997   46.809  11404948
1702     Zimbabwe    Africa  2002   39.989  11926563
1703     Zimbabwe    Africa  2007   43.487  12311143

[1704 rows x 5 columns]

In [34]:
# 3이상 6미만으로 뽑기
small_range2=list(range(3,6))
print(small_range2)

[3, 4, 5]

In [35]:
subset2=df.iloc[:, small_range2]
print(subset2)

      lifeExp       pop   gdpPercap
0      28.801   8425333  779.445314
1      30.332   9240934  820.853030
2      31.997  10267083  853.100710
3      34.020  11537966  836.197138
4      36.088  13079460  739.981106
...       ...       ...         ...
1699   62.351   9216418  706.157306
1700   60.377  10704340  693.420786
1701   46.809  11404948  792.449960
1702   39.989  11926563  672.038623
1703   43.487  12311143  469.709298

[1704 rows x 3 columns]

In [36]:
small_range=list(range(0,6,2))
subset=df.iloc[:, small_range]
print(subset)

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [37]:
# range 보단 슬라이싱 구문으로 훨씬 간단하게 작업가능함.

In [38]:
# 행과 열 함께 지정하여 추출하기
# loc 속성으로 country 열에서 행 이름이 42인 데이터를 추출하기
print(df.loc[42,'country'])

Angola

In [39]:
# iloc로 추출하기
print(df.iloc[42,0])

Angola

In [40]:
# 여러 행과 열 지정하여 데이터 추출하기
# 첫 번째, 4번째, 6번째 열의 첫 번째, 100번째, 1000번째 행 데이터 추출하기
print(df.iloc[[0,99,999], [0,3,5]])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [41]:
print(df.loc[[0,99,999], ['country', 'lifeExp', 'gdpPercap']])

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130