## 데이터 활용 방법 - 전치
- 행과 열을 서로 바꾸기
- 방법
    - 1. 메서드 : 변수명.trandspose()
    - 2. 속성 : 변수명.T

In [1]:
import pandas as pd

In [2]:
# 데이터 준비
file_name='data.csv'

In [4]:
# csv --> DataFrame 형태로 저장해주기

csvdf=pd.read_csv(file_name)

In [8]:
# DataFrame 형태 변경 : 행 ==> 열, 열 ==> 행
print("변경전", csvdf.index, csvdf.columns, csvdf, sep='\n')
print()
csvdf=csvdf.T
print("변경gn", csvdf.index, csvdf.columns, csvdf, sep='\n')

변경전
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name ', 'age', 'gneder'], dtype='object')
  no name  age gneder
0  1  hone  10      F
1  2  Park  13      F
2  3   Kim  15      M
3  4   Yee  18      M
4  5  jung  17      F

변경gn
Index(['no', 'name ', 'age', 'gneder'], dtype='object')
RangeIndex(start=0, stop=5, step=1)
           0     1    2    3     4
no         1     2    3    4     5
name    hone  Park  Kim  Yee  jung
age       10    13   15   18    17
gneder     F     F    M    M     F

In [6]:
csvdf

           0     1    2    3     4
no         1     2    3    4     5
name    hone  Park  Kim  Yee  jung
age       10    13   15   18    17
gneder     F     F    M    M     F

In [9]:
# 메서드 사용
csvdf=csvdf.transpose()
print("변경전", csvdf.index, csvdf.columns, csvdf, sep='\n')

변경전
RangeIndex(start=0, stop=5, step=1)
Index(['no', 'name ', 'age', 'gneder'], dtype='object')
  no name  age gneder
0  1  hone  10      F
1  2  Park  13      F
2  3   Kim  15      M
3  4   Yee  18      M
4  5  jung  17      F