## [DataFrame 연산-1]
- 일대일 대응으로 인덱스가 동일한 원소들 끼리 연산 수행
- Dataframe과 숫자데이터 연산 수행

In [9]:
# 1. 모듈 로딩
import pandas as pd
import numpy as np      # 빈 칸 의미 표현을 위해 사용

In [10]:
# 데이터 준비
data={'A':[98,78,100,52],
      'B':[96,58,10,42]}

In [11]:
# dict -> DataFrame 형태로 저장
df1=pd.DataFrame(data)
df1

     A   B
0   98  96
1   78  58
2  100  10
3   52  42

In [13]:
# 연산 수행
# 산술연산
df1 * 3

     A    B
0  294  288
1  234  174
2  300   30
3  156  126

In [14]:
# 비교연산
df1 <= 10

       A      B
0  False  False
1  False  False
2  False   True
3  False  False