## [DataFrame의 인덱스 다루기 - 4]
- 인덱스 정렬하기
- 기본 : 오름차순 정렬
- 메서드 : sort_index()

In [1]:
## [1] 모듈 로딩
import pandas as pd

In [2]:
# [2] 데이터 준비
data={'A':[98,78,100,52]}

In [3]:
## dict를 데이터 프레임으로 만들기
df=pd.DataFrame(data, index=[9, 12, 1, 3])
df

      A
9    98
12   78
1   100
3    52

In [5]:
## [4] 행인덱스 정렬
# 기본 : 오름차순 정렬.
df.sort_index()

      A
1   100
3    52
9    98
12   78

In [6]:
# 내림차순 정렬.
df.sort_index(ascending=False)

      A
12   78
9    98
3    52
1   100

In [8]:
# [5] 행인덱스 변경 후 정렬
# 현재 [ 12, 9, 3, 1] --> ['A','b','C','d']
df.index=['A','b','C','d']
df

     A
A   98
b   78
C  100
d   52

In [11]:
# 정렬
df.sort_index(key=lambda x:x.str.lower())

     A
A   98
b   78
C  100
d   52

In [10]:
nums=['A','b','C','D']
sorted(nums, key=lambda x:x.lower())

['A', 'b', 'C', 'D']