## [Series 연산 - 2]
- 원소값이 비어 있는 경우
- 인덱스가 서로다른 Series의 경우

In [44]:
# 1. 모듈로딩
import pandas as pd
import math
import numpy as np

In [45]:
# 빈칸 즉 비어있다는 의미를 나태는 문자가있음. -> pandas에는 없음.
# math 모듈과 numpy라는 패키지를 지금 사용.
math.nan , np.NaN

(nan, nan)

In [46]:
# 2. 데이터 준비
bibibig=[13, 600, np.NaN, 1500]
merona=[32, 700, 1200, 1500]

In [47]:
# 3. 1차원 리스트를 Sesires로 저장
sr1=pd.Series(bibibig)
sr2=pd.Series(merona)

In [48]:
print(sr1, sr2, sep='\n')

0      13.0
1     600.0
2       NaN
3    1500.0
dtype: float64
0      32
1     700
2    1200
3    1500
dtype: int64

In [49]:
# 4-1. 연산 수행 : Series + 숫자
# 산술 연산
sr1 + 5

0      18.0
1     605.0
2       NaN
3    1505.0
dtype: float64

In [50]:
# 비교연산 NaN을 False로 처리해준다.
sr1 >= 5

0     True
1     True
2    False
3     True
dtype: bool

In [51]:
# 4-2. 연산 수행 : Series + Series NaN 있을 시 연산을 안함.
# 산술 연산
sr1 * sr2

0        416.0
1     420000.0
2          NaN
3    2250000.0
dtype: float64

In [52]:
# 비교연산 NaN을 False로 처리해준다.
sr1 != sr2
sr1 > sr2
sr1 < sr2

0     True
1     True
2    False
3    False
dtype: bool

In [53]:
# 5. 인덱스가 다른 Series 끼리 연산 수행
# sr3 생성 : sr2에서 인덱스 변경 [0, 1,2,3] --> [0,2,3,4]
sr3=sr2.rename(index={1:2, 2:3, 3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [56]:
# 인덱스가 다른 Sereis + Sereis 연산 빈칸 조우시 NaN 출력.
sr2 + sr3

0      64.0
1       NaN
2    1900.0
3    2700.0
4       NaN
dtype: float64

In [62]:
# 비교연산
# 인덱스 번호가 다른게 있을 경우 Error 발생한다.
# 인덱스번호 같게 만들어주고
sr3=sr3.reset_index(drop=True)
sr3

0      32
1     700
2    1200
3    1500
dtype: int64

In [63]:
sr2> sr3

0    False
1    False
2    False
3    False
dtype: bool

In [64]:
# 5. NaN에 대한 연산 수행을 못하는 것을 해결하기 위한 메서드
# fill_value : NaN에 값을 지정해줌.
sr1.add(sr2, fill_value=0.)

0      45.0
1    1300.0
2    1200.0
3    3000.0
dtype: float64

In [65]:
# 6. 인덱스가 다른 Seires 연산에서 메서드 사용
sr3=sr2.rename(index={1:2, 2:3, 3:4})
sr3

0      32
2     700
3    1200
4    1500
dtype: int64

In [66]:
sr2.add(sr3, fill_value=0.0)

0      64.0
1     700.0
2    1900.0
3    2700.0
4    1500.0
dtype: float64