## [Series & DataFrame 연산]

In [2]:
# 1 모듈 로딩
import pandas as pd

In [3]:
# 데이터 준비
file_name='data_01.csv'

In [4]:
# 3. csv file => DataFrame 형태로 저장
csvDF=pd.read_csv(file_name, header=None)
csvDF

    0   1   2
0  10  20  30
1  90  80  70
2  50  60  33
3  44  32  11
4  31  46  78

In [5]:
# 연산 실습
csvDF * 5

     0    1    2
0   50  100  150
1  450  400  350
2  250  300  165
3  220  160   55
4  155  230  390

In [6]:
csvDF+5

    0   1   2
0  15  25  35
1  95  85  75
2  55  65  38
3  49  37  16
4  36  51  83

In [7]:
# 0번 컬럼과 2번 컬럼을 덧셈 연산 수행
res=csvDF[0]+ csvDF[1] + csvDF[2]
res

0     60
1    240
2    143
3     87
4    155
dtype: int64

In [8]:
# 3개 컬럼 덧셈 결과를 새로운 컬럼으로 추가
csvDF['Total']=res
csvDF

    0   1   2  Total
0  10  20  30     60
1  90  80  70    240
2  50  60  33    143
3  44  32  11     87
4  31  46  78    155

In [12]:
# 행 5 추가하고싶음 -> 데이터 : 각컬럼의 값을 모두 더한 값을 넣고싶다.
res2=csvDF.loc[0]+csvDF.loc[1]+csvDF.loc[2]+csvDF.loc[3]+csvDF.loc[4]
res2

0        225
1        238
2        222
Total    685
dtype: int64

In [13]:
csvDF.loc[5]=res2
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   50   60   33    143
3   44   32   11     87
4   31   46   78    155
5  225  238  222    685

In [15]:
# 5. 연산수행 메서드 
SR0=csvDF[0]
print(SR0)
print(SR0.sum(), sep='\n')
print(SR0.max(), sep='\n')
print(SR0.min(), sep='\n')

0     10
1     90
2     50
3     44
4     31
5    225
Name: 0, dtype: int64
450
225
10

In [16]:
# DataFrame으로 연산수행 메서드 사용
csvDF

     0    1    2  Total
0   10   20   30     60
1   90   80   70    240
2   50   60   33    143
3   44   32   11     87
4   31   46   78    155
5  225  238  222    685

In [18]:
# 각 clolmns 합계 계산 세로로 더함.
print(csvDF.sum(), sep='\n')

# Axis=1 사용시 각 행방향으로 더함. 가로로 더함.
print(csvDF.sum(axis=1), sep='\n')

0         450
1         476
2         444
Total    1370
dtype: int64
0     120
1     480
2     286
3     174
4     310
5    1370
dtype: int64

In [20]:
# DataFrmae에서 최댓값 계산
print("최댓값", csvDF.max()) # 세로로봄
print("최댓값", csvDF.max(axis=1)) # 가로로봄

최댓값 0        225
1        238
2        222
Total    685
dtype: int64
최댓값 0     60
1    240
2    143
3     87
4    155
5    685
dtype: int64

In [22]:
# DataFrmae에서 최솟값 계산
print("최솟값", csvDF.min()) # 세로로봄
print("최솟값", csvDF.min(axis=1)) # 가로로봄

최솟값 0        10
1        20
2        11
Total    60
dtype: int64
최솟값 0     10
1     70
2     33
3     11
4     31
5    222
dtype: int64

## 연산과 데이터 추출 
- 연산결과와 데이터 추출을 함께 진행함.

In [27]:
# Total이 100이상인 데이터만 추출
# 비교연산결과 -> True/False : bollean Index
boolindex=csvDF.Total > 100

In [28]:
# 인덱스로 특정데이터 추출에 사용이 가능함.
# csvDF[컬럼인덱스], csvDF.iloc[행인덱스]
csvDF[boolindex] # True 인 값만 출력함. 조건에 맞는 데이터만 추출할 때

     0    1    2  Total
1   90   80   70    240
2   50   60   33    143
4   31   46   78    155
5  225  238  222    685