In [1]:
# 시리즈 만들기
import pandas as pd

In [2]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
s=pd.Series(data=['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
# 데이터 프레임 만들기
scientists=pd.DataFrame({
    'name':['Rosaline Franklin', 'william Gosset'],
    'Occupation':['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'age' : [37, 61]
})

In [5]:
print(scientists)

                name    Occupation        Born        Died  age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     william Gosset  Statistician  1876-06-13  1937-10-16   61

In [6]:
scientists=pd.DataFrame({
    'name':['Rosaline Franklin', 'william Gosset'],
    'Occupation':['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'age' : [37, 61]
},
index=["Rosaline Franklin", "William Gosset"],
columns=["Occupation", "Born", "Died", "Age"])
print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16  NaN
William Gosset     Statistician  1876-06-13  1937-10-16  NaN

In [7]:
# 시리즈 추출하기
scientists=pd.DataFrame(
    data={
        "occupation":["Chemist", "Statistician"],
        "Born":["1920-07-25", "1876-06-13"],
        "Died":["1958-04-16", "1937-10-16"],
        "Age":[37,61]
    },
    index=["Rosalin franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"]
)
print(scientists)

                 Occupation        Born        Died  Age
Rosalin franklin        NaN  1920-07-25  1958-04-16   37
William Gosset          NaN  1876-06-13  1937-10-16   61

In [8]:
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [9]:
print(first_row)

Occupation           NaN
Born          1876-06-13
Died          1937-10-16
Age                   61
Name: William Gosset, dtype: object

In [10]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [11]:
print(first_row.values)

[nan '1876-06-13' '1937-10-16' 61]

In [12]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [13]:
print(first_row.index[0])

Occupation

In [14]:
print(first_row.keys()[0])

Occupation

In [15]:
# 시리즈의 메서드 사용하기
ages=scientists['Age']
print(ages)

Rosalin franklin    37
William Gosset      61
Name: Age, dtype: int64

In [16]:
print(ages.mean())

49.0

In [17]:
print(ages.min())

37

In [18]:
print(ages.max())

61

In [19]:
print(ages.std())

16.97056274847714

In [20]:
ages=scientists['Age']
print(ages)

Rosalin franklin    37
William Gosset      61
Name: Age, dtype: int64

In [21]:
print(ages.describe())

count     2.000000
mean     49.000000
std      16.970563
min      37.000000
25%      43.000000
50%      49.000000
75%      55.000000
max      61.000000
Name: Age, dtype: float64

In [22]:
print(ages.mean())

49.0

In [23]:
print(ages[ages > ages.mean()])

William Gosset    61
Name: Age, dtype: int64

In [24]:
print(ages > ages.mean())

Rosalin franklin    False
William Gosset       True
Name: Age, dtype: bool

In [25]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [26]:
# 벡터와 벡터, 벡터와 스칼라 계산하기
print(ages + ages)

Rosalin franklin     74
William Gosset      122
Name: Age, dtype: int64

In [27]:
print(ages * ages)

Rosalin franklin    1369
William Gosset      3721
Name: Age, dtype: int64

In [28]:
print(ages+100)

Rosalin franklin    137
William Gosset      161
Name: Age, dtype: int64

In [29]:
print(ages * 2)

Rosalin franklin     74
William Gosset      122
Name: Age, dtype: int64

In [30]:
# 길이가 다른 벡터 계산
print(ages + pd.Series([1, 100]))

Rosalin franklin   NaN
William Gosset     NaN
0                  NaN
1                  NaN
dtype: float64

In [31]:
import numpy as np
print(ages + np.array([1, 100]))

Rosalin franklin     38
William Gosset      161
Name: Age, dtype: int64

In [32]:
# 인덱스가 같은 벡터 자동 정렬하기
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

William Gosset      61
Rosalin franklin    37
Name: Age, dtype: int64

In [33]:
print(ages * 2)

Rosalin franklin     74
William Gosset      122
Name: Age, dtype: int64

In [34]:
print(ages + rev_ages)

Rosalin franklin     74
William Gosset      122
Name: Age, dtype: int64

In [35]:
# 데이터 프레임의 구성
scientists.index

Index(['Rosalin franklin', 'William Gosset'], dtype='object')

In [36]:
scientists.values

array([[nan, '1920-07-25', '1958-04-16', 37],
       [nan, '1876-06-13', '1937-10-16', 61]], dtype=object)

In [37]:
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])

               Occupation        Born        Died  Age
William Gosset        NaN  1876-06-13  1937-10-16   61