## [데이터 표준화]
- 수집된 데이터를 동일한 형태로 맞추어 주는 것
- 단위변환, 자료형 변환

In [114]:
# 1. 모듈 로딩
import pandas as pd
import numpy as np

In [115]:
# 2. 데이터 준비
file_name='auto_mpg.csv'

In [116]:
# 3. csv파일 DataFrmae으로 만들기
mpgdf=pd.read_csv(file_name)# nrows=10, usecols=[0,2,4,6,8] 괄호안에 가지고오고싶은 행수, 열번호 입력시 원하는 것만 뽑아올수잇음
mpgdf.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [117]:
# 데이터 전처리
# 5-1 결측치 체크
mpgdf.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [118]:
# 5-2 중복데이터 체크
mpgdf.duplicated().sum()

0

In [119]:
# 5-3 단위 변환 표준화 mpg ---> kpl 컬럼추가
# kpl=mpg*(1.60934/3.78541)
mpgdf.mpg*0.425144
mpgdf['kpl']=mpgdf.mpg*0.425144
mpgdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
 9   kpl           398 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 31.2+ KB

In [120]:
# 5-4 자료형 변환 표준화
# horsepower object -> int 바꿔주는 method
# mpgdf['horsepower'].astype('int64')
mpgdf['horsepower'].value_counts()['?']
mpgdf[mpgdf['horsepower']=='?']

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,kpl
32,25.0,4,98.0,?,2046,19.0,71,1,ford pinto,10.628600
126,21.0,6,200.0,?,2875,17.0,74,1,ford maverick,8.928024
330,40.9,4,85.0,?,1835,17.3,80,2,renault lecar deluxe,17.388390
336,23.6,4,140.0,?,2905,14.3,80,1,ford mustang cobra,10.033398
354,34.5,4,100.0,?,2320,15.8,81,2,renault 18i,14.667468
374,23.0,4,151.0,?,3035,20.5,82,1,amc concord dl,9.778312

In [121]:
# 데이터를 변경해주는 메서드 -> replace()
mpgdf['horsepower'].replace('?', np.nan, inplace=True)

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_22188\2017905053.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  mpgdf['horsepower'].replace('?', np.nan, inplace=True)

In [122]:
mpgdf.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
kpl             0
dtype: int64

In [123]:
mpgdf2=mpgdf.dropna().copy()
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    object
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(4), object(2)
memory usage: 33.7+ KB

In [124]:
mpgdf2['horsepower']=mpgdf2['horsepower'].astype('int64')

In [125]:
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: float64(4), int64(5), object(1)
memory usage: 33.7+ KB

In [126]:
# 5-5 컬럼별 데이터의 특성 확인 후 자료형 변화 표준화
# -'cylinders' -> 데이터를 분류 그룹 가능 -> 범주형
# -'origin' -> 데이터를 분류/그룹 가능 -> 범주형
mpgdf2['cylinders']=mpgdf2['cylinders'].astype('category')
mpgdf2['origin']=mpgdf2['origin'].astype('category')
mpgdf2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
dtypes: category(2), float64(4), int64(3), object(1)
memory usage: 28.7+ KB

In [127]:
# 5-6 컬럼별 데이터의 특성 확인 후 데이터 변환환
# -'horsepower' -> 저출력-일반출력-고출력 -> 범주형 : cut() 메서드
hp=pd.cut(mpgdf2['horsepower'], bins=3, 
       labels=['저출력','일반출력', '고출력'], 
       retbins=True)

In [128]:
mpgdf2['horsepower'].min(), mpgdf2['horsepower'].max()

(46, 230)

In [129]:
hp

(0      일반출력
 1      일반출력
 2      일반출력
 3      일반출력
 4      일반출력
        ...
 393     저출력
 394     저출력
 395     저출력
 396     저출력
 397     저출력
 Name: horsepower, Length: 392, dtype: category
 Categories (3, object): ['저출력' < '일반출력' < '고출력'],
 array([ 45.816     , 107.33333333, 168.66666667, 230.        ]))

In [130]:
# mpgdf2['horsepower_range']=hp
# mpgdf2.info()

- [ 문자열 데이터를 분리 시켜주는 기능 -> 컬럼을 분리 할 수 있음]
    * 조건, 데이터가 str이여야 한다.  
    * 형식 : Series.str.split().get()

In [131]:
namessr=mpgdf2['car name'].str.upper().str.split()
namessr.head(3)

0    [CHEVROLET, CHEVELLE, MALIBU]
1            [BUICK, SKYLARK, 320]
2            [PLYMOUTH, SATELLITE]
Name: car name, dtype: object

In [132]:
# 나누어진 문자열을 하나씩 컬럼으로 분리
namesdf=mpgdf2['car name'].str.split(expand=True, n=2)
namesdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       392 non-null    object
 1   1       390 non-null    object
 2   2       194 non-null    object
dtypes: object(3)
memory usage: 12.2+ KB

## 데이터 프레임 연결하기
    * 함수 : pandas.concat([df1,df2])

In [133]:
df3=pd.concat([mpgdf2,namesdf], axis=1)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 0 to 397
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
 10  0             392 non-null    object
 11  1             390 non-null    object
 12  2             194 non-null    object
dtypes: category(2), float64(4), int64(3), object(4)
memory usage: 37.9+ KB

In [136]:
# 행방향연결시 인덱스 다시 정리 필요
# 매개변수 ignore_index=True를 사용하면 섞여있는 데이터를 안섞기게 해줌.
df4=pd.concat([mpgdf2,namesdf], ignore_index=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    category
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    float64
 7   origin        392 non-null    category
 8   car name      392 non-null    object
 9   kpl           392 non-null    float64
 10  0             392 non-null    object
 11  1             390 non-null    object
 12  2             194 non-null    object
dtypes: category(2), float64(7), object(4)
memory usage: 69.4+ KB

In [137]:
df4.head(2), df4.tail(2)

(    mpg cylinders  displacement  horsepower  weight  acceleration  model year  \
 0  18.0         8         307.0       130.0  3504.0          12.0        70.0
 1  15.0         8         350.0       165.0  3693.0          11.5        70.0

   origin                   car name       kpl    0    1    2
 0      1  chevrolet chevelle malibu  7.652592  NaN  NaN  NaN
 1      1          buick skylark 320  6.377160  NaN  NaN  NaN  ,
      mpg cylinders  displacement  horsepower  weight  acceleration  \
 782  NaN       NaN           NaN         NaN     NaN           NaN
 783  NaN       NaN           NaN         NaN     NaN           NaN

      model year origin car name  kpl      0       1     2
 782         NaN    NaN      NaN  NaN   ford  ranger  None
 783         NaN    NaN      NaN  NaN  chevy    s-10  None  )