## [ 데이터 필터링 - Boolean Indexing ]
- Series / DataFrame에서 원하는 조건의 데이터만 추출하기 위한 것
- True와 False로 구성된 데이터 == 인덱스로 사용.

In [26]:
# 1. 모듈 로딩
import pandas as pd

In [27]:
# 2. 데이터 준비
data={'name':['마징가', '베트맨', '홍길동'],
      'age': [25, 31, 19],
      'gender':['남','남','여']}

In [28]:
# 3. dict 데이터를 DataFrame으로 변환
datadf=pd.DataFrame(data)
datadf

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [29]:
# 4. 데이터 추출하기
# 1) 성별이 남자인 데이터만 추출
bool_index=datadf['gender'] == '남'
bool_index

0     True
1     True
2    False
Name: gender, dtype: bool

In [30]:
datadf[bool_index]

  name  age gender
0  마징가   25      남
1  베트맨   31      남

In [31]:
# 2) 30세 이상의 남자 데이터만 추출
bool_index2=(datadf['age'] >= 30) & (datadf['gender'] == '남')

In [32]:
datadf[bool_index2]

  name  age gender
1  베트맨   31      남

In [33]:
# 3) 20세 이하 이거나 성별이 남자인 데이터만 추출
mask=(datadf['age']<=20) |(datadf['gender']=='남')

In [37]:
datadf[mask]

  name  age gender
0  마징가   25      남
1  베트맨   31      남
2  홍길동   19      여

In [38]:
# 4) 성별이 남자인 데이터만 추출
datadf['gender']=='남'
# not(~) 연산자로 반대로만듬
~ (datadf['gender']=='남')

0    False
1    False
2     True
Name: gender, dtype: bool