## [중복데이터 처리]
- 중복데이터 검사 후 처리 --> 삭제
-[주의] 중복 데이터를 모두 삭제하는 것은 아님.
    - 데이터의 특성을 확인 후 결정 해야 함!

In [22]:
import pandas as pd

In [23]:
# 데이터 준비
file_name='data.csv'
datadf=pd.read_csv(file_name)
datadf

   no name    age gneder
0   1  hone  10.0      F
1   2   NaN  13.0      F
2   3   Kim  15.0      M
3   4   Yee  13.0      M
4   5  jung   NaN      F
5   3   Kim  15.0      M
6   5  jung   NaN      F

In [24]:
# 데이터 확인
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   no      7 non-null      int64
 1   name    6 non-null      object
 2   age     5 non-null      float64
 3   gneder  7 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 352.0+ bytes

In [25]:
# 컬럼별 타입과 실제 데이터 확인 
datadf.head(2), datadf.tail(2)

(   no name    age gneder
 0   1  hone  10.0      F
 1   2   NaN  13.0      F,
    no name    age gneder
 5   3   Kim  15.0      M
 6   5  jung   NaN      F)

In [26]:
# 5. 전처리 
# 5-1 결측치 처리

In [27]:
# 5-2 중복데이터 검사 및 처리
# keep 매개변수 : 어느 것을 중복 데이터로 취급하지 않을지 설정 ( 기본값 : 'firtst')
datadf.duplicated().sum() # keep='last', keep=False .sum() 사용하면 몇개있는지 확인

2

In [28]:
# 중복 데이터 처리
datadf.drop_duplicates()

   no name    age gneder
0   1  hone  10.0      F
1   2   NaN  13.0      F
2   3   Kim  15.0      M
3   4   Yee  13.0      M
4   5  jung   NaN      F

In [29]:
# 나이컬럼만 중복여부를 체크
datadf.duplicated(subset=['age'])

0    False
1    False
2    False
3     True
4    False
5     True
6     True
dtype: bool