In [112]:
import pandas as pd

In [113]:
file1='test_data_03.csv'

In [114]:
df1=pd.read_csv(file1)
df1

   index col1  col2  col3
0   2020   서울    10    20
1   2020   대구    11    22
2   2021   서울    10    20
3   2021   대구    11    22
4   2021   대구    11    22

In [115]:
# 데이터 추출
# 대구 관련 데이터만 추출
df1[df1['col1'] == '대구']

   index col1  col2  col3
1   2020   대구    11    22
3   2021   대구    11    22
4   2021   대구    11    22

In [116]:
# 4-2 index 컬럼과 col1 컬럼을 행인덱스로 설정
df2=df1.set_index(['index','col1'])
df2

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구      11    22
      대구      11    22

In [117]:
# 인덱스 속성
df2.index, df2.values

(MultiIndex([(2020, '서울'),
             (2020, '대구'),
             (2021, '서울'),
             (2021, '대구'),
             (2021, '대구')],
            names=['index', 'col1']),
 array([[10, 20],
        [11, 22],
        [10, 20],
        [11, 22],
        [11, 22]], dtype=int64))

In [118]:
# 2020년도 대구 데이터 추출
df2.loc[(2020,'대구')]

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\3529328603.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2020,'대구')]

            col2  col3
index col1
2020  대구      11    22

In [119]:
# 2021년도 대구
df2.loc[(2021, '대구')]=[3,3]
df2

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\1944576099.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2021, '대구')]=[3,3]

            col2  col3
index col1
2020  서울      10    20
      대구      11    22
2021  서울      10    20
      대구       3     3
      대구       3     3

In [120]:
# 행추가 (년도, 지역명)
df2.loc[(2022, '부산'), :]=0 # [(2022, '부산'), :] -> [:] 열추가를 의미하는 세미콜론을 넣어준다.

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\4216866277.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '부산'), :]=0 # [(2022, '부산'), :] -> [:] 열추가를 의미하는 세미콜론을 넣어준다.

In [121]:
df2.loc[(2022, '마산'), :]=[3,4]

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\1324571934.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '마산'), :]=[3,4]
C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\1324571934.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '마산'), :]=[3,4]

In [122]:
df2.loc[(2022, '울산'), :]= [pd.Series({'col2':8, 'col3':8})]

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\2517405419.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '울산'), :]= [pd.Series({'col2':8, 'col3':8})]
C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\2517405419.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '울산'), :]= [pd.Series({'col2':8, 'col3':8})]

In [123]:
df2.loc[(2022, '경산'), :]= [pd.Series({'col2':2, 'col3':7})]

C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\2002152934.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '경산'), :]= [pd.Series({'col2':2, 'col3':7})]
C:\Users\KDP-26\AppData\Local\Temp\ipykernel_8848\2002152934.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df2.loc[(2022, '경산'), :]= [pd.Series({'col2':2, 'col3':7})]

In [124]:
df2

            col2  col3
index col1
2020  서울    10.0  20.0
      대구    11.0  22.0
2021  서울    10.0  20.0
      대구     3.0   3.0
      대구     3.0   3.0
2022  부산     0.0   0.0
      마산     3.0   4.0
      울산     8.0   8.0
      경산     2.0   7.0